# CLI for manual mapping

* 여기서 저장이라 함은 csv 파일에 입력하는 것을 뜻한다.

1. 해당 csv 파일을 읽어 df에 올려둔다 
2. 번호, 시작 프레임, 종료 프레임을 입력하여 수정값을 반영한다
3. 업데이트 된 df를 저장한다. (저장버튼, 저장키 = "q")

df를 csv로 저장하면 그 csv를 읽어와야함 -> 오버헤드

In [18]:
import numpy as np
import pandas as pd

date ="0507" #0611 0514 0507
#result_name = "Result-0709-#2_enter_10min_late-Fin.csv"
#result_name = "Result-0604-#10-21120_25179-Fin.csv"
result_name ="Result-"+date+"-Maually_Fin.csv"
df_result_raw = "withGrid_"+date+".csv"

df= pd.read_csv(df_result_raw)
df

,Unnamed: 0,frameNum,1_X,1_Y,2_X,2_Y,3_X,3_Y,4_X,4_Y,...,12_X,12_Y,13_X,13_Y,14_X,14_Y,15_X,15_Y,16_X,16_Y
0,0,76,1127.0,810.0,1233.0,383.0,1301.000000,530.0,1344.0,600.0,...,1227.0,292.0,1096.0,786.0,1368.0,516.0,NaN,NaN,NaN,NaN
1,1,77,1127.0,810.0,1233.0,385.0,1303.000000,532.0,1344.0,600.0,...,1232.0,308.0,1090.0,786.0,1368.0,516.0,NaN,NaN,NaN,NaN
2,2,78,1127.0,810.0,1242.0,405.0,1303.000000,531.0,1344.0,600.0,...,1231.0,308.0,1087.0,786.0,1368.0,514.0,NaN,NaN,NaN,NaN
3,3,79,1127.0,810.0,1239.0,400.0,1305.000000,534.0,1343.0,600.0,...,1236.0,306.0,1085.0,785.0,1368.0,514.0,NaN,NaN,NaN,NaN
4,4,80,1127.0,810.0,1233.0,382.0,1307.000000,540.0,1343.0,599.0,...,1240.0,308.0,1085.0,785.0,1368.0,516.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62273,62273,62349,1380.0,539.0,986.0,717.0,1302.867821,740.0,1346.0,607.0,...,1033.0,839.0,511.0,582.0,1404.0,514.0,NaN,NaN,NaN,NaN
62274,62274,62350,1380.0,539.0,991.0,718.0,1306.650718,740.0,1346.0,607.0,...,1031.0,839.0,514.0,580.0,1404.0,519.0,NaN,NaN,NaN,NaN
62275,62275,62351,1380.0,539.0,1007.0,720.0,1310.433616,740.0,1346.0,604.0,...,1026.0,839.0,491.0,571.0,1404.0,522.0,NaN,NaN,NaN,NaN
62276,62276,62352,1380.0,539.0,1012.0,720.0,1314.216513,740.0,1346.0,604.0,...,1024.0,839.0,525.0,577.0,1404.0,524.0,NaN,NaN,NaN,NaN
62277,62277,62353,1379.0,540.0,1003.0,719.0,1318.000000,740.0,1349.0,608.0,...,1021.0,839.0,549.0,577.0,1407.0,533.0,NaN,NaN,NaN,NaN

In [25]:

while (1):
    quitOrNum = input("if you want to quit please enter 'q' else 1~16 : ")
    if (quitOrNum == "q"):
        df.to_csv(result_name)
        print(df)
        print("saved")
        break;

    global_id=quitOrNum
    XorY =input("enter 1 for X, 2 for Y :")
    start_frame =int(input("enter 'start frame' to fix : ")) 
    end_frame=int(input("enter 'end frame' to fix : "))
    value=input("enter value to update : ")
    # df
    if (XorY == "1") :
        column =str(global_id)+"_X"
        print(df)
        for index in range(start_frame, end_frame+1):
            df.loc[df['frameNum'] == index,column]=value
    elif(XorY == "2") : 
        column =str(global_id)+"_Y"
        for index in range(start_frame, end_frame+1):
            df.loc[df['frameNum'] == index,column]=value
    print("--------!!!UPDATED!!!-----------")

if you want to quit please enter 'q' else 1~16 : 1
enter 1 for X, 2 for Y :1
enter 'start frame' to fix : 77
enter 'end frame' to fix : 78
enter value to update : 100
XorY1
       Unnamed: 0  frameNum     1_X    1_Y     2_X    2_Y          3_X    3_Y  \
0               0        76  1127.0  810.0  1233.0  383.0  1301.000000  530.0
1               1        77  1127.0  810.0  1233.0  385.0  1303.000000  532.0
2               2        78  1127.0  810.0  1242.0  405.0  1303.000000  531.0
3               3        79  1127.0  810.0  1239.0  400.0  1305.000000  534.0
4               4        80  1127.0  810.0  1233.0  382.0  1307.000000  540.0
...           ...       ...     ...    ...     ...    ...          ...    ...
62273       62273     62349  1380.0  539.0   986.0  717.0  1302.867821  740.0
62274       62274     62350  1380.0  539.0   991.0  718.0  1306.650718  740.0
62275       62275     62351  1380.0  539.0  1007.0  720.0  1310.433616  740.0
62276       62276     62352  1380.0  539.0  1012.0  720.0  1314.216513  740.0
62277       62277     62353  1379.0  540.0  1003.0  719.0  1318.000000  740.0

          4_X    4_Y  ...    12_X   12_Y    13_X   13_Y    14_X   14_Y  15_X  \
0      1344.0  600.0  ...  1227.0  292.0  1096.0  786.0  1368.0  516.0   NaN
1      1344.0  600.0  ...  1232.0  308.0  1090.0  786.0  1368.0  516.0   NaN
2      1344.0  600.0  ...  1231.0  308.0  1087.0  786.0  1368.0  514.0   NaN
3      1343.0  600.0  ...  1236.0  306.0  1085.0  785.0  1368.0  514.0   NaN
4      1343.0  599.0  ...  1240.0  308.0  1085.0  785.0  1368.0  516.0   NaN
...       ...    ...  ...     ...    ...     ...    ...     ...    ...   ...
62273  1346.0  607.0  ...  1033.0  839.0   511.0  582.0  1404.0  514.0   NaN
62274  1346.0  607.0  ...  1031.0  839.0   514.0  580.0  1404.0  519.0   NaN
62275  1346.0  604.0  ...  1026.0  839.0   491.0  571.0  1404.0  522.0   NaN
62276  1346.0  604.0  ...  1024.0  839.0   525.0  577.0  1404.0  524.0   NaN
62277  1349.0  608.0  ...  1021.0  839.0   549.0  577.0  1407.0  533.0   NaN

       15_Y  16_X  16_Y
0       NaN   NaN   NaN
1       NaN   NaN   NaN
2       NaN   NaN   NaN
3       NaN   NaN   NaN
4       NaN   NaN   NaN
...     ...   ...   ...
62273   NaN   NaN   NaN
62274   NaN   NaN   NaN
62275   NaN   NaN   NaN
62276   NaN   NaN   NaN
62277   NaN   NaN   NaN

[62278 rows x 34 columns]
--------!!!UPDATED!!!-----------
if you want to quit please enter 'q' else 1~16 : q
       Unnamed: 0  frameNum     1_X    1_Y     2_X    2_Y          3_X    3_Y  \
0               0        76  1127.0  810.0  1233.0  383.0  1301.000000  530.0
1               1        77     100  810.0  1233.0  385.0  1303.000000  532.0
2               2        78     100  810.0  1242.0  405.0  1303.000000  531.0
3               3        79  1127.0  810.0  1239.0  400.0  1305.000000  534.0
4               4        80  1127.0  810.0  1233.0  382.0  1307.000000  540.0
...           ...       ...     ...    ...     ...    ...          ...    ...
62273       62273     62349  1380.0  539.0   986.0  717.0  1302.867821  740.0
62274       62274     62350  1380.0  539.0   991.0  718.0  1306.650718  740.0
62275       62275     62351  1380.0  539.0  1007.0  720.0  1310.433616  740.0
62276       62276     62352  1380.0  539.0  1012.0  720.0  1314.216513  740.0
62277       62277     62353  1379.0  540.0  1003.0  719.0  1318.000000  740.0

          4_X    4_Y  ...    12_X   12_Y    13_X   13_Y    14_X   14_Y  15_X  \
0      1344.0  600.0  ...  1227.0  292.0  1096.0  786.0  1368.0  516.0   NaN
1      1344.0  600.0  ...  1232.0  308.0  1090.0  786.0  1368.0  516.0   NaN
2      1344.0  600.0  ...  1231.0  308.0  1087.0  786.0  1368.0  514.0   NaN
3      1343.0  600.0  ...  1236.0  306.0  1085.0  785.0  1368.0  514.0   NaN
4      1343.0  599.0  ...  1240.0  308.0  1085.0  785.0  1368.0  516.0   NaN
...       ...    ...  ...     ...    ...     ...    ...     ...    ...   ...
62273  1346.0  607.0  ...  1033.0  839.0   511.0  582.0  1404.0  514.0   NaN
62274  1346.0  607.0  ...  1031.0  839.0   514.0  580.0  1404.0  519.0   NaN
62275  1346.0  604.0  ...  1026.0  839.0   491.0  571.0  1404.0  522.0   NaN
62276  1346.0  604.0  ...  1024.0  839.0   525.0  577.0  1404.0  524.0   NaN
62277  1349.0  608.0  ...  1021.0  839.0   549.0  577.0  1407.0  533.0   NaN

       15_Y  16_X  16_Y
0       NaN   NaN   NaN
1       NaN   NaN   NaN
2       NaN   NaN   NaN
3       NaN   NaN   NaN
4       NaN   NaN   NaN
...     ...   ...   ...
62273   NaN   NaN   NaN
62274   NaN   NaN   NaN
62275   NaN   NaN   NaN
62276   NaN   NaN   NaN
62277   NaN   NaN   NaN

[62278 rows x 34 columns]
saved

,Unnamed: 0,frameNum,1_X,1_Y,2_X,2_Y,3_X,3_Y,4_X,4_Y,...,12_X,12_Y,13_X,13_Y,14_X,14_Y,15_X,15_Y,16_X,16_Y
0,0,76,1127.0,810.0,1233.0,383.0,1301.000000,530.0,1344.0,600.0,...,1227.0,292.0,1096.0,786.0,1368.0,516.0,NaN,NaN,NaN,NaN
1,1,77,100,810.0,1233.0,385.0,1303.000000,532.0,1344.0,600.0,...,1232.0,308.0,1090.0,786.0,1368.0,516.0,NaN,NaN,NaN,NaN
2,2,78,100,810.0,1242.0,405.0,1303.000000,531.0,1344.0,600.0,...,1231.0,308.0,1087.0,786.0,1368.0,514.0,NaN,NaN,NaN,NaN
3,3,79,1127.0,810.0,1239.0,400.0,1305.000000,534.0,1343.0,600.0,...,1236.0,306.0,1085.0,785.0,1368.0,514.0,NaN,NaN,NaN,NaN
4,4,80,1127.0,810.0,1233.0,382.0,1307.000000,540.0,1343.0,599.0,...,1240.0,308.0,1085.0,785.0,1368.0,516.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62273,62273,62349,1380.0,539.0,986.0,717.0,1302.867821,740.0,1346.0,607.0,...,1033.0,839.0,511.0,582.0,1404.0,514.0,NaN,NaN,NaN,NaN
62274,62274,62350,1380.0,539.0,991.0,718.0,1306.650718,740.0,1346.0,607.0,...,1031.0,839.0,514.0,580.0,1404.0,519.0,NaN,NaN,NaN,NaN
62275,62275,62351,1380.0,539.0,1007.0,720.0,1310.433616,740.0,1346.0,604.0,...,1026.0,839.0,491.0,571.0,1404.0,522.0,NaN,NaN,NaN,NaN
62276,62276,62352,1380.0,539.0,1012.0,720.0,1314.216513,740.0,1346.0,604.0,...,1024.0,839.0,525.0,577.0,1404.0,524.0,NaN,NaN,NaN,NaN
62277,62277,62353,1379.0,540.0,1003.0,719.0,1318.000000,740.0,1349.0,608.0,...,1021.0,839.0,549.0,577.0,1407.0,533.0,NaN,NaN,NaN,NaN