0709 : **11415** 번 frame 부터 2 번 입장


0604 : **21120~25179** frame동안 10번 없었음

In [5]:
import numpy as np
import pandas as pd

df= pd.read_csv("Result-0604-Fin.csv")
df

,Unnamed: 0,frameNum,1_X,1_Y,2_X,2_Y,3_X,3_Y,4_X,4_Y,...,12_X,12_Y,13_X,13_Y,14_X,14_Y,15_X,15_Y,16_X,16_Y
0,0,1,821.0,259.0,718.0,300.0,682.0,628.0,685.0,700.0,...,1327.0,455.0,1105.0,798.0,1364.0,373.0,NaN,NaN,NaN,NaN
1,1,2,821.0,259.0,711.0,303.0,680.0,630.0,685.0,700.0,...,1325.0,456.0,1103.0,798.0,1358.0,377.0,NaN,NaN,NaN,NaN
2,2,3,821.0,259.0,714.0,302.0,681.0,630.0,685.0,700.0,...,1324.0,457.0,1102.0,798.0,1353.0,380.0,NaN,NaN,NaN,NaN
3,3,4,821.0,259.0,717.0,301.0,681.0,630.0,685.0,700.0,...,1323.0,457.0,1103.0,798.0,1353.0,380.0,NaN,NaN,NaN,NaN
4,4,5,821.0,259.0,713.0,301.0,681.0,630.0,685.0,700.0,...,1324.0,457.0,1102.0,798.0,1352.0,383.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47859,47859,47860,1114.0,276.0,669.0,717.0,1113.0,274.0,1056.0,819.0,...,1269.0,907.0,1044.0,221.0,1526.0,635.0,NaN,NaN,NaN,NaN
47860,47860,47861,1114.0,276.0,666.0,718.0,1113.0,274.0,1056.0,818.0,...,1269.0,907.0,1044.0,221.0,1526.0,635.0,NaN,NaN,NaN,NaN
47861,47861,47862,1114.0,276.0,667.0,718.0,1113.0,274.0,1054.0,819.0,...,1269.0,907.0,1044.0,221.0,1526.0,635.0,NaN,NaN,NaN,NaN
47862,47862,47863,1114.0,276.0,669.0,717.0,1113.0,274.0,1054.0,819.0,...,1269.0,907.0,1045.0,220.0,1525.0,635.0,NaN,NaN,NaN,NaN
47863,47863,47864,1114.0,276.0,666.0,718.0,1113.0,274.0,1055.0,817.0,...,1269.0,907.0,1047.0,220.0,1526.0,635.0,NaN,NaN,NaN,NaN

In [6]:
for index in df.frameNum:
    if index>=21120 and index <= 25179:
        df["10_X"][index] = np.nan
        df["10_Y"][index] = np.nan

#df[["2_X"]].apply(lambda x: np.nan if  df.frameNum <= 11415 else df[["2_X"]])
    
df["2_X"][0] = np.nan
df["2_Y"][0] = np.nan

C:\Users\82108\AppData\Local\Temp/ipykernel_62696/1599328391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["10_X"][index] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_62696/1599328391.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["10_Y"][index] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_62696/1599328391.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["2_X"][0] = np.nan
C:\Users\82108\AppData\Local\Temp/ipykernel_62696/1599328391.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["2_Y"][0] = np.nan

In [7]:
df.to_csv("Result_0604_#10_21120_25179.csv")

In [ ]:
df